.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
  justify-content: space-between;
  align-items: flex-start;
  
    &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 5%;
        margin-left: 5%;
        color: $base-colorGray ;

            &-top {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: 2rem;
            margin-bottom: 10%;
            }
        }

    &__right {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-right: 5%;
        margin-left: 5%;
        height: 25rem;
        overflow: hidden;

            &-photo {
            filter: grayscale(60%);
            width: 100%;
            object-fit: cover;
        }
    }
}
