.home{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0%;
   margin-bottom: 5%;

   &__top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
   }

   &__bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: $base-colorGray ;
margin-top: -5%;
    &-left{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
    }
    &-right{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
    }
   }


&__titles {
    width: 50%;
    margin-left: 5%;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2rem;

    &-one {
        color: $light-colorGray ;
    }
    &-two{ 
        color: $light-colorBlue ;
    }
    &-three{
        color: $intermediate-colorGray;
    }
    &-four{
        color: $intermediate-colorBlue;
    }
}
&__project{
    width: 50%;
    align-items: center;
    
&-img{
    width: 50%;
    margin-left: 25%;
}
}
}