.navBar {
  position: fixed;
  z-index: 4;
  display: flex;
  width: 90%;
  margin: 2% 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & ul {
    margin: 0;
  }

  &__logo {
    display: flex;
    width: 3%;
    color:$primary;
    img{
        color: $primary;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.4s ease;

    &--none{
      display: none;
    }
    & span {
      font-size: 1rem;
      margin: 0 1.5rem;
      color:$primary;
      position: relative;
      cursor: pointer;
      outline: none;
      background: none;
      text-transform: uppercase;
    }
  }
  & span::after {
    content: "";
    display: block;
    font-size: 1rem;
    height: 0.2rem;
    background: #FFC148;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0.5rem;
    transition: transform 0.3s ease;
    transform: scale(0, 1);
  }
  & span:hover::after {
    transform: scale(1, 1);
  }
  & span:focus::after {
    transform: scale(1, 1);
  }
  &--active::after {
    transform: scale(1, 1);
  }
  i {
    display: none;
  }
}
