.skills {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;

  & ul {
    margin: 0%;
    padding: 0;
  }
  &__tittle {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2rem;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    transition: all 0.4s ease;
    margin-top: 10%;
    width: 50%;

    & a {
      font-size: 1rem;
      color: $base-colorGray;
      position: relative;
      cursor: pointer;
      outline: none;
      background: none;
      text-transform: uppercase;
    }

    & a::after {
      content: "";
      display: block;
      font-size: 1em;
      height: 0.2rem;
      background: $base-colorBlue;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 0 rem;
      transition: transform 0.3s ease;
      transform: scale(0, 1);
    }
    & a:hover::after {
      transform: scale(1, 1);
    }
    & a:focus::after {
      transform: scale(1, 1);
    }
    &--active::after {
      transform: scale(1, 1);
    }
  }
  &__sections{
      width: 50%;
  }
}

.software {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  i {
    background-color: $base-colorBlue;
    border-radius: 100%;
    padding: 2%;
    font-size: 5rem;
  }
}
