.skillsandexpertice {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.skills {
  display: flex;
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
  flex-direction: column;
  justify-content: space-between;

  & ul {
    margin: 0%;
    padding: 0;
  }
  &__tittle {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2rem;
    margin-bottom: 5%;
  }

  &__sections {
    width: 80%;
    color: $base-colorGray;
  }
  &__explications {
    margin-top: 5%;
  }
}

.expertise {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5%;
  margin-left: 5%;

  &__tittle {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2rem;
    margin-bottom: 5%;
  }
  & ul {
    margin: 0%;
    padding: 0;
  }
}
