$primary: #e37500;
$secondary: #ffc148;

$base-colorGray: #616160;
$intermediate-colorGray: #7c7c7c;
$light-colorGray: #acacab;

html {
  font-size: 100%; /* 100% = 16px */

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
  ::-webkit-scrollbar-track:active {
    background: $light-colorGray;
  }
  & a,
  p {
    text-decoration: none;
    outline: none;
    background: none;
    color: none;
    margin: 0;
    padding: 0;
  }
}
body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: $primary;
  margin-bottom: 20%;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 100px;
  letter-spacing: 1rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a,
p,
span,
li {
  list-style-type: none;
  font-size: 1rem;
  text-decoration: none;
}
::selection {
  color: white;
  background: $primary;
}
@import "./Nav";
@import "./Home";
@import "./About";
@import "./Contact";
@import "./Skills";
@import "./Projects";
@import "./Works";
@import "./WorkIndividual";
