html {
  font-size: 100%;
  /* 100% = 16px */
}

html a,
html p {
  text-decoration: none;
  outline: none;
  background: none;
  color: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3rem;
}

h2 {
  color: #a7cdff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a,
p,
span,
li {
  list-style-type: none;
  font-size: o 0.5rem;
  text-decoration: none;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.navBar ul {
  margin: 0;
}

.navBar__logo {
  width: 20%;
}

.navBar__logo img {
  width: 100%;
}

.navBar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navBar__menu a {
  font-size: 1rem;
  margin: 0 1.5rem;
  color: #616160;
  position: relative;
  cursor: pointer;
  outline: none;
  background: none;
  text-transform: uppercase;
}

.navBar a::after {
  content: "";
  display: block;
  font-size: 1em;
  height: 0.2rem;
  background: #509cff;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.navBar a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navBar a:focus::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navBar--active::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navBar i {
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10% 0%;
}

.home__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: #616160;
  margin-top: 5%;
}

.home__bottom-left {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.home__bottom-right {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.home__tittles {
  width: 50%;
  margin-left: 5%;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2rem;
}

.home__tittles-one {
  color: #acacab;
}

.home__tittles-two {
  color: #a7cdff;
}

.home__tittles-three {
  color: #7c7c7c;
}

.home__tittles-four {
  color: #73b0ff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
  color: #616160;
}

.about__left-top {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2rem;
  margin-bottom: 10%;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
  height: 25rem;
  overflow: hidden;
}

.about__right-photo {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skillsandexpertice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills ul {
  margin: 0%;
  padding: 0;
}

.skills__tittle {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-bottom: 5%;
}

.skills__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skills__menu a {
  font-size: 1rem;
  color: #616160;
  position: relative;
  cursor: pointer;
  outline: none;
  background: none;
  text-transform: uppercase;
}

.skills__menu a::after {
  content: "";
  display: block;
  font-size: 1em;
  height: 0.2rem;
  background: #509cff;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0 rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.skills__menu a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.skills__menu a:focus::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.skills__menu--active::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.skills__sections {
  width: 80%;
  color: #616160;
}

.skills__explications {
  margin-top: 5%;
}

.software {
  margin-top: 5%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.software i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #509cff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 5%;
  margin-left: 5%;
}

.expertise__tittle {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2rem;
  margin-bottom: 5%;
}

.expertise ul {
  margin: 0%;
  padding: 0;
}

.expertise__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 50%;
  padding: 0;
}

.expertise__menu a {
  font-size: 1rem;
  color: #616160;
  position: relative;
  cursor: pointer;
  outline: none;
  background: none;
  text-transform: uppercase;
}

.expertise__menu a::after {
  content: "";
  display: block;
  font-size: 1em;
  height: 0.2rem;
  background: #509cff;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0 rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.expertise__menu a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.expertise__menu a:focus::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.expertise__menu--active::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
/*# sourceMappingURL=styles.css.map */